.listingOne{
 border:2px solid #FF09F0;
 width:200px;
 height:210px;
 display:inline-block;
 float:left;
 margin: 5px 5px;
 border-radius: 20px;
 text-align:center;
 background-color:#DEA4F9;
}
h1 {
  color:#7219F7;
  text-align: center;
  font-family: helvetica times serif;
  font-size: 2.5em;
}
p {
  text-transform: uppercase;
  font-size: 1em;
  font-family: helvetica times serif;
  color:white;
}
.productList {
  margin: 0 auto;
}
.container2 {
  border:2px solid #000;
  width:950px;
  height:550px;
  border-radius:15px;
  background-color:#FF09F0;
}
.header2 {
  width:800px;
  height:35px;
  margin:0 auto;
}
.prod {
  height:35px;
  width:500px;
  float:left;
  text-align: center;
  font-family: helvetica times serif;
}
.qty {
  height:35px;
  width:100px;
  float:right;
  text-align: center;
  font-family: helvetica times serif;

}
.price {
  height:35px;
  width:100px;
  float:right;
  text-align: center;
  font-family: helvetica times serif;
}
.resultBox {
  border: 2px solid darkblue;
  height:450px;
  width:920px;
  margin:0 auto;
  font-family: helvetica times serif;
  border-radius:20px;
  background-color: darkblue;
}
.displayBox {
  border:1px solid #71E2F7;
  height:40px;
  width:910px;
  border-radius: 5px;
}
body{
 background-image:url("images/nice.jpg");
 background-size:cover;
 background-repeat:no-repeat;
 }
.prod1 {
  height:20px;
  width:500px;
  float:left;
  text-align: center;
  font-family: helvetica times serif;
}

.price1 {
  height:20px;
  width:100px;
  float:right;
  text-align: center;
  font-family: helvetica times serif;
}
.totalBox {
  height:60px;
  width:820px;
  margin:0 auto;
}
.total1 {
  height:60px;
  width: 670px;
  font-size:1.3em;
  text-align: right;
  float:left;
  font-family: helvetica times serif;
}
.totalOut {
  height:60px;
  width:100px;
  text-align:center;
  float:right;
}


 .mainContainer {
  margin: 0 auto;
  width: 800px;
  height: 550px;
}
.displayContainer {
  margin: 0 auto;
  width:1400px;
  height:1400px;
}
input {
  width:150px;
  height:25px;
}
button {
  font-size:16px;
  border-radius:10px;
  background-color: orange;
  color:white;
}
