<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Shopping Cart</title>
    <link rel="stylesheet" href="styles.css">
  </head>
  <body ng-app="myApp" ng-controller="cartCtrl">
    <h1>SAVED ITEMS</h1>
      <div class="mainContainer">
        <div class="container2" >
          <div class="header2">
            <div class="prod">
              <p>SAVED ITEM</p>
            </div>
            <div class="qty">
              <p>PRICE</p>
            </div>
          </div>
          <div class="resultBox">
             <div class="displayBox" ng-repeat="product in cartArray track by $index">
              <div class="prod1">
                <p>{{product.title |limitTo:50}}</p>
              </div>
              <div class="price1">
                <p class="">{{product.price}}</p>
              </div>
            </div>
          </div>
          <div class="totalBox">
            <div class="total1">
              <p>TOTAL</p>
            </div>
            <div class="totalOut">
              <p>{{total|currency}}</p>
            </div>
           </div>
         </div>
       </div>
   </body>
</html>
