<div class="productList" ng-repeat="product in finalArray track by $index">
  <div class="listingOne">
    <p>{{product.title}}</p>
    <button  class="image1"  ng-click="addItem(index)"><img ng-src="{{product.mainImage}}"></button>
    <p>{{product.price|currency}}</p>
  </div>
</div>
<div class="productList" ng-repeat="product in finalArray track by $index">
  <div class="listingOne">
    <p>{{product.title}}</p>
    <button  class="image1"  ng-click="addItem(index)"><img ng-src="{{product.mainImage}}"></button>
    <p>{{product.price|currency}}</p>
  </div>
</div>
<div class="productList" ng-repeat="product in finalArray track by $index">
  <div class="listingOne">
    <p>{{product.title}}</p>
    <button  class="image1"  ng-click="addItem(index)"><img ng-src="{{product.mainImage}}"></button>
    <p>{{product.price|currency}}</p>
  </div>
</div>
